@font-face {
    font-family: 'vermin_vibes_vregular';
    src: url('verminvibesv-zlg3-webfont.woff2') format('woff2'),
         url('verminvibesv-zlg3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}